:root {
  --vh: 1vh;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); /* This is the new line */
  margin: 0;
  padding: 0;
}

#date-area {
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
}

#stopwatch-area {
  font-size: 15vw;
  font-weight: bold;
  margin-bottom: 1vh;
  color: white;
  text-align: center;
  background-color: white;
  color: black;
  width: 80%;
}

#challenge-time-input {
  display: flex;
  font-size: 5vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#input-minutes {
  height: 7vw;
  font-size: 5vw;
  width: 3em;
}

#start-button {
  background-color: #4CAF50; /* Material Design primary color */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
  margin: 4px 2px;
  cursor: pointer;
}

#blur-controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#blur-range {
  width: 100%;
  margin-bottom: 5px;
}

#progress-bar {
  width: 80%;
  text-align: center;
  background-color: #ddd; /* Grey background */
  height: 5vh;
}


label[for="blur-range"] {
  font-size: 4vw;
}


#progress-bar-inner {
      height: 5vh;
      width: 0;
      display: inline-block;           /* Enables flex context */
      align-items: center;     /* Vertical centering */
      justify-content: center; 
      background-color: #4CAF50; /* Material Design primary color */
      text-align: center;
      font-size: 2vh;
      line-height: 30px; /* Same as height */
      color: white;
}


#motivation {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 5vw;
}

#complete-button {
  font-size: 5vw;
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
  overflow: hidden;
}

#videoElement {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5%);
}


#capturedImages {
  display: none;
}


#gifPreview {
  height: 40%;
  margin-top: 20px;
  display: none;
}

#downloadButton {
  display: none;
  margin-top: 10px;
}

#share-button {
  font-size: 5vw;
}

#camera-toggle-button {
  margin-top: 10px;
}

#errorText {
  color: #33ff33;
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  margin-top: 10px;
  width: 90%;
}


.material-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
  margin: 4px 2px;
  cursor: pointer;
}

.material-button:disabled {
  background-color: #808080; /* 회색 */
  cursor: not-allowed;
}

.toggleSwitch {
  width: 100px;
  height: 50px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

 /* 토글 버튼 */
.toggleSwitch .toggleButton {
  /* 버튼은 토글보다 작아야함  */
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #4CAF50;
}

/* 체크박스가 체크되면 변경 이벤트 */
#toggle:checked ~ .toggleSwitch {
  background: #4CAF50;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 44px);
  background: #fff;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}

.radio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.radio-button {
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black; /* 기본 텍스트 색상 추가 */
}

.radio-button.active {
  background-color: #4caf50;
  color: white;
}

.radio-button.disabled {
  background-color: #e0e0e0; /* 비활성화 시 배경색상 추가 */
  color: #9e9e9e; /* 비활성화 시 텍스트 색상 추가 */
  cursor: not-allowed;
}